<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/dashboard">HEdClass</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

                <% if (user.role==='admin' ) { %>
                    <span class="text-light small">Registry Administrator</span>
                    <a href="/admin/officers" class="nav-link text-light">Officers</a>
                    <a href="/admin/programmes" class="nav-link text-light">Programmes</a>
                    <a href="/admin/assignments" class="nav-link text-light">Assignments</a>
                    <% } else { %>
                        <span class="text-light small">
                            <%= user.first_name %>
                                <%= user.surname %>
                        </span>
                        <a href="/officer/cohort" class="nav-link text-light">Cohort</a>
                        <a href="/officer/results" class="nav-link text-light">Results</a>
                        <% } %>

                            <li class="nav-item">
                                <a href="/logout" class="btn btn-outline-light btn-sm">Logout</a>
                            </li>

            </ul>
        </div>
    </div>
</nav>